<!DOCTYPE html>
<html lang="en" ng-app="mytooltip">
<head>
    <meta charset="UTF-8">
    <title>MyTooltip</title>
</head>
<body ng-controller="MainCtrl">

    <div ng-repeat="item in list">
        <span ng-click="domElement( item, $index )">{{item.name}}: click me!</span>
    </div>
    <div id="detail"></div>

    <div ng-show="never">
        <div id="detailCont">
            dom:
            {{detailItem.detail}}
        </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angularjs/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>